body {
    background-color:#164B19;
    width:100%;
    margin:auto;
}

.container {
    width:80%;
    margin: 0 auto;
}

.bodyshape {
    width:100%;
    border-radius:30px 30px 30px 30px;
    height:100%;
    font-family: 'Roboto', sans-serif;
    background:#08330B;
}

.bodycontainer {
    width:260px;
    margin:0 auto;
    padding-top:30px;
    padding-right:130px;
}

.header {
    background:#437E47;
    width: 100%;
    height:100px;
    top: 0;
    position:relative;
    border-radius:30px 30px 30px 30px;
}

.menu {
    float:right;
    font-family: 'Titillium Web', sans-serif;
    
}

.logo {
    float:left;
    font-family:'Montserrat', sans-serif;
    padding-top:15px;
    padding-left:30%;
}

a {
    text-decoration:none;
}

a:link {
    color:white;
}

a:visited {
    color:white;
}

a:hover {
    color:red;
}

a:active {
    color:green;
}

li {
    list-style:none;
    float:left;
    margin-left:15px;
}

.home {
    color:#2B8F30;
    background-color:#284F2C;
    border-radius:30px 30px 30px 30px;
    float:right;
    text-align:center;
    font-family:'Roboto', sans-serif;
}

.text {
    background:#285F2C;
    color:#2B7F30;
    border-radius:30px 30px 30px 30px;
    width:150%;
    padding-top:20px;
    text-align:center;
    height:340px;
    overflow:auto;
}