body {
    background-color:#164B19;
    width:100%;
    margin:auto;
}

.container {
    width:80%;
    margin: 0 auto;
}

.bodycontainer {
    width:266px;
    margin:0 auto;
    padding-top:30px;
}

.header {
    background:#437E47;
    width: 100%;
    height:100px;
    top: 0;
    position:relative;
    border-radius:30px 30px 30px 30px;
}

.menu {
    float:right;
    font-family: 'Titillium Web', sans-serif;
}

.logo {
    float:left;
    font-family:'Montserrat', sans-serif;
    padding-top:13px;
    padding-left:30%;
}

a {
    text-decoration:none;
}

a:link {
    color:white;
}

a:visited {
    color:white;
}

a:hover {
    color:red;
}

a:active {
    color:green;
}


li {
    list-style:none;
    float:left;
    margin-left:15px;
}

.bodyShape {
    background:#08330B;
    border-radius:30px 30px 30px 30px;
    height:100%;
    padding:1px;
}

.text {
  text-align:center;  
  background:#336A47;
  font-family:"Roboto", sans-serif;
  color:#2B7F30;
}

.challenges {
    background:#092D0B;
    width:100%;
    height:80%;
    border-radius:30px 0px 0px 30px;
    overflow:scroll;
    margin-right:200px;
}

.challenge1 {
    right: 20%;
    top:2%;
    width:auto;
    height:auto;
}

.challenge1 a{
    text-align:center;
    display:block;
}

.challenge {
    width:20%;
    height:50%;
    border-radius:30px 30px 30px 30px;
}

.challenge2 {
    left:40%;
    bottom:50%;
    width:auto;
    height:auto;
}

.challenge2 a{
    text-align:center;
    display:block;
}

.challenge2img {
    width:20%;
    height:50%;
    border-radius:30px 30px 30px 30px;
}

.challenge3 {
    right: 20%;
    top:2%;
    width:auto;
    height:auto;
}

.challenge3 a{
    text-align:center;
    display:block;
}

.challenge3img {
    width:20%;
    height:50%;
    border-radius:30px 30px 30px 30px;
}

.challenge4 {
    right: 20%;
    top: 2%;
    width:auto;
    height:auto;
}

.challenge4 a {
    text-align:center;
    display:block;
}

.challenge4img {
    width:20%;
    height:50%;
    border-radius:30px 30px 30px 30px;
}