body {
    width:100%;
    margin:auto;
    background-color:#006600;
}

.container {
    width:80%;
    margin: 0 auto;
}

.header {
    background:#009999;
    width: 100%;
    height:100px;
    top: 0;
    position:relative;
    border-radius:30px 30px 30px 30px;
}

.menu {
    float:right;
    font-family: 'Titillium Web', sans-serif;
    
}

.logo {
    float:left;
    font-family:'Montserrat', sans-serif;
    padding-top:15px;
    padding-left:30%;
}

a {
    text-decoration:none;
}

a:link {
    color:white;
}

a:visited {
    color:white;
}

a:hover {
    color:red;
}

a:active {
    color:green;
}

.menu li {
    list-style:none;
    float:left;
    margin-left:15px;
}

.bodyshape {
    background-color:#007777;
    border-radius:30px 30px 30px 30px;
    height:100%;
    padding-top:80px;
}

.gameText {
    color:#2BAF30;
    font-family: 'Archivo Narrow', sans-serif;
    font-size:19px;
    text-align:center;
}

.gameNames {
    background-color:#285F2C;
    border:2px solid #FFF;
    height:80%;
    width:600px;
    margin:0 auto;
    font-family: 'Roboto', sans-serif;
    padding-top:2px;
    padding-bottom:20px;
    bottom:20%;
    overflow:auto;
    width:100%;
}

.games {
    font-size:17px;
    color:#2B9F30;
    font-family: 'Archivo Narrow', sans-serif;
    font-size:19px;
}

.snake {
    width:17%;
    height:50%;
    text-align:center;
    display:block;
    position:absolute;
    left:1%;
}

.snakeIMG {
    width:100%;
    height:90%;
    border:2px solid #ffffff;
}

.pong {
    width:17%;
    height:50%;
    text-align:center;
    display:block;
    position:absolute;
    left:20%;
}

.pongIMG {
    width:100%;
    height:90%;
    border:2px solid #ffffff;
}

.breakOut {
    width:17%;
    height:50%;
    text-align:center;
    display:block;
    position:absolute;
    left:39%;
}

.breakOutIMG {
    width:100%;
    height:90%;
    border:2px solid #FFF;
}

.clicker {
    width:17%;
    height:50%;
    text-align:center;
    display:block;
    position:absolute;
    left:58%;    
}

.clickerIMG {
    width:100%;
    height:90%;
    border:2px solid #FFF;
}