body {
    width:100%;
    margin:auto;
    background-color:#164B19;
}

.container {
    width:80%;
    margin: 0 auto;
}

.header {
    background:#437E47;
    width: 100%;
    height:100px;
    top: 0;
    position:relative;
    border-radius:30px 30px 30px 30px;
}

.menu {
    float:right;
    font-family: 'Titillium Web', sans-serif;
    
}

.logo {
    float:left;
    font-family:'Montserrat', sans-serif;
    padding-top:15px;
    padding-left:30%;
}

a {
    text-decoration:none;
}

a:link {
    color:white;
}

a:visited {
    color:white;
}

a:hover {
    color:red;
}

a:active {
    color:green;
}

li {
    list-style:none;
    float:left;
    margin-left:15px;
}

.bodyshape {
    background-color:#08330B;
    border-radius:30px 30px 30px 30px;
    height:100%;
    padding-top:80px;
}

.gameText {
    color:#2BAF30;
    font-family: 'Archivo Narrow', sans-serif;
    font-size:19px;
}

.gameNames {
    background-color:#285F2C;
    border-radius:30px 30px 30px 30px;
    text-align:center;
    height:140px;
    width:600px;
    margin:0 auto;
    font-family: 'Roboto', sans-serif;
    padding-top:2px;
    padding-bottom:20px;
    margin-left:10%;
}

.games {
    font-size:17px;
    color:#2B9F30;
    font-family: 'Archivo Narrow', sans-serif;
    font-size:19px;
}

.note {
    background:#285F2C;
    color:#2BAF30;
    font-family: 'Archivo Narrow', sans-serif;
    font-size:19px;
    border-radius:30px 30px 30px 30px;
    width:30%;
    height:30%;
    padding-top:1%;
    text-align:center;
    margin-left:65%;
}