body {
    background-color:#164B19;
    width:100%;
    margin:auto;
}

.container {
    width:80%;
    margin: 0 auto;
}

.bodycontainer {
    width:266px;
    margin:0 auto;
    padding-top:30px;
}

.header {
    background:#437E47;
    width: 100%;
    height:100px;
    top: 0;
    position:relative;
    border-radius:30px 30px 30px 30px;
}

.menu {
    float:right;
    font-family: 'Titillium Web', sans-serif;
    margin-top:24px;
    
}

.logo {
    float:left;
    font-family:'Montserrat', sans-serif;
    padding-top:15px;
    padding-left:30%;
}

a {
    text-decoration:none;
}

a:link {
    color:white;
}

a:visited {
    color:white;
}

a:hover {
    color:red;
}

a:active {
    color:green;
}


li {
    list-style:none;
    float:left;
    margin-left:15px;
}


.updateBox {
    text-align:center;
    background-color:#306133;
    font-family: 'Arimo', sans-serif;
    border:20px;
    position:absolute;
    left:13%;
    padding:3%;
    height:40%;
    border:3px solid #000;
}

.updateTitle {
    color: #000099;
}

.home {
    color:#2B8F30;
    background-color:#285F2C;
    border-radius:30px 30px 30px 30px;
    float:right;
    text-align:center;
    font-family: 'Archivo Narrow', sans-serif;
    font-size:19px;
}

.bodyshape {
    background:#08330B;
    border-radius:30px 30px 0px 0px;
    height:100%;
}