body {
    background-color:#164B19;
    width:100%;
    margin:auto;
}

.container {
    width:80%;
    margin: 0 auto;
}


.header {
    background:#437E47;
    width: 100%;
    height:100px;
    top: 0;
    position:relative;
    border-radius:30px 30px 30px 30px;
}

.menu {
    float:right;
    font-family: 'Titillium Web', sans-serif;
}

.logo {
    float:left;
    font-family:'Montserrat', sans-serif;
    padding-top:13px;
    padding-left:30%;
}

a {
    text-decoration:none;
}
a:link {
    color:white;
}

a:visited {
    color:white;
}

a:hover {
    color:red;
}

a:active {
    color:green;
}

li {
    list-style:none;
    float:left;
    margin-left:15px;
}

.bodyshape {
    background:#08330B;
    border-radius:30px 30px 30px 30px;
    height:100%;
    padding-top:1px;
}

.gameName {
    background:#009999;
    border-radius:30px 30px 30px 30px;
    width:30%;
    padding-top:50px;
    height:10%;
    position:relative;
    margin:10 auto;
    margin-left:14%;
}

.text {
    color:#00cc00;
    text-align:center;
    position:relative;
    bottom:30px;
    font-family: 'Roboto', sans-serif;
}

.description {
    color:#33ccff;
    font-family: 'Roboto', sans-serif;
    background:#009999;
    border-radius:30px 0px 0px 30px;
    width:30%;
    position:relative;
    margin-left:1000px;
    height:60%;
    text-align:center;
    bottom:60%;
    overflow:auto;
    margin-right:100%;
}


.snakeGame {
    border: 3px solid #ffffff;
    background:#000000;
    border-radius:40px 40px 40px 40px;
    width:540px;
    margin-left:14%;
}