body {
	background-image:url("../IMG/MONEY.JPEG");
}

.music {
	background-color:#666666;
	width:20%;
	height:7%;
	position:relative;
	left:40%;
	bottom:1%;
	text-align:center;
	overflow:auto;
}

.stats {
	position:absolute;
	background-color:#0033CC;
	padding-bottom:3%;
	border-color:#000;
	border-width:2px;
	text-shadow: 3px 3px #333;
	text-align:center;
	width:20%;
	height:13%;
	left:40%;
	overflow:auto;
}

.upgrade {
	background-color:#0033BC;
	border-color:#000;
	border-width:2px;
	text-shadow: 3px 3px #333;
	text-align:center;
	width:20%;
	height:13%;
	overflow:auto;
}

.upgrade1 {
	background-color:#3366FF;
	width:30%;
	height:20%;
	text-align:center;
	position:absolute;
	left:10%;
	bottom:45%;
	overflow:auto;
}

.upgrade2 {
	background-color:#3366FF;
	width:30%;
	height:20%;
	text-align:center;
	position:absolute;
	left:50%;
	bottom:45%;
	overflow:auto;
}

.back {
	border-bottom-right-radius: 15px;
	text-align:center;
	background-color:#FF6666;
	width:10%;
	height:20%;
	overflow:auto;
}

.money_button {
	position:relative;
	top: 20%;
	width:30%;
	height:15%;
	text-align:center;
	background-color:#3366CC;
	left:35%;
	bottom:10%;
	overflow:auto;
}